Importing the required libraries.

In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, ArrayType, FloatType, DateType
import findspark

In [5]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
import findspark
findspark.init()
sc = SparkSession.builder.appName('Spark').getOrCreate()

In [7]:
dataName = Row('name', 'age', 'country', 'city')

data = [dataName('David', '22', 'London', 'Paris'), dataName('Steve', '22', 'New York', 'Sydney')]

df = sc.createDataFrame(data)

In [9]:
df.show(1)

Py4JJavaError: An error occurred while calling o143.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 6.0 failed 1 times, most recent failure: Lost task 0.0 in stage 6.0 (TID 6) (Naveenkumar executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1589)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:694)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:738)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:690)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:655)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:631)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:588)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:546)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 29 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:506)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:459)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:48)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3868)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:3858)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3856)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3084)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:288)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:327)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1589)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:694)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:738)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:690)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:655)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:631)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:588)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:546)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 29 more

Initiating the findspark.

In [2]:
findspark.init()

Creating the spark application

In [3]:
spark = SparkSession.builder.appName("SparkDataFrame").getOrCreate()

In [5]:
spark.stop()

Creating the list of data.

In [4]:
data = [("James","", "Smith", "36636", "M", 3000),
       ("Machael","Rose", "", "40288", "M", 4000),
       ("Robert","", "Williams", "42114", "F", 4000),
       ("Maria","Anne", "Jones", "39194", "F", 4000),
       ("Jen","Mary", "Brown", "", "F", -1),]

In [5]:
type(data)

list

Creating the schema to assign the column datatype.

In [5]:
schema = StructType([StructField("FirstName", StringType(), True),
                   StructField("MiddleName", StringType(), True),
                   StructField("LastName", StringType(), True),
                   StructField("ID", StringType(), True),
                   StructField("Gender", StringType(), True),
                   StructField("Salary", IntegerType(), True)])

Creating the dataframe.

In [6]:
df = spark.createDataFrame(data=data, schema=schema)

Print the table schema.

In [7]:
df.printSchema()

root
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

Show the records

In [8]:
df.show()

+---------+----------+--------+-----+------+------+
|FirstName|MiddleName|LastName|   ID|Gender|Salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Machael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     F|  4000|
|    Maria|      Anne|   Jones|39194|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

Read CSV files

In [11]:
file = spark.read.csv("employees_data.csv", header=True, inferSchema=True)

In [12]:
file.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: timestamp (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: double (nullable = true)
 |-- COMMISSION_PCT: double (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [13]:
file.show()

+-----------+-----------+----------+--------+------------+-------------------+----------+-------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|          HIRE_DATE|    JOB_ID| SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+----------+--------+------------+-------------------+----------+-------+--------------+----------+-------------+
|        100|     Steven|      King|   SKING|515.123.4567|1987-06-17 00:00:00|   AD_PRES|24000.0|           0.0|         0|           90|
|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568|1987-06-18 00:00:00|     AD_VP|17000.0|           0.0|       100|           90|
|        102|        Lex|   De Haan| LDEHAAN|515.123.4569|1987-06-19 00:00:00|     AD_VP|17000.0|           0.0|       100|           90|
|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567|1987-06-20 00:00:00|   IT_PROG| 9000.0|           0.0|       102|           60|
|        104|      Bruce|     Ernst|  BERNST|590.423.4568|1987-06-21 00:00:00|   IT_PROG| 6000.0|           0.0|       103|           60|
|        105|      David|    Austin| DAUSTIN|590.423.4569|1987-06-22 00:00:00|   IT_PROG| 4800.0|           0.0|       103|           60|
|        106|      Valli| Pataballa|VPATABAL|590.423.4560|1987-06-23 00:00:00|   IT_PROG| 4800.0|           0.0|       103|           60|
|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567|1987-06-24 00:00:00|   IT_PROG| 4200.0|           0.0|       103|           60|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569|1987-06-25 00:00:00|    FI_MGR|12000.0|           0.0|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169|1987-06-26 00:00:00|FI_ACCOUNT| 9000.0|           0.0|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269|1987-06-27 00:00:00|FI_ACCOUNT| 8200.0|           0.0|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369|1987-06-28 00:00:00|FI_ACCOUNT| 7700.0|           0.0|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469|1987-06-29 00:00:00|FI_ACCOUNT| 7800.0|           0.0|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567|1987-06-30 00:00:00|FI_ACCOUNT| 6900.0|           0.0|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561|1987-07-01 00:00:00|    PU_MAN|11000.0|           0.0|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562|1987-07-02 00:00:00|  PU_CLERK| 3100.0|           0.0|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563|1987-07-03 00:00:00|  PU_CLERK| 2900.0|           0.0|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564|1987-07-04 00:00:00|  PU_CLERK| 2800.0|           0.0|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565|1987-07-05 00:00:00|  PU_CLERK| 2600.0|           0.0|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566|1987-07-06 00:00:00|  PU_CLERK| 2500.0|           0.0|       114|           30|
+-----------+-----------+----------+--------+------------+-------------------+----------+-------+--------------+----------+-------------+
only showing top 20 rows

list the column names

In [14]:
file.columns

['EMPLOYEE_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'EMAIL',
 'PHONE_NUMBER',
 'HIRE_DATE',
 'JOB_ID',
 'SALARY',
 'COMMISSION_PCT',
 'MANAGER_ID',
 'DEPARTMENT_ID']

select the column from the dataframe.

In [16]:
file.select("EMPLOYEE_ID", "FIRST_NAME", "PHONE_NUMBER").show()

+-----------+-----------+------------+
|EMPLOYEE_ID| FIRST_NAME|PHONE_NUMBER|
+-----------+-----------+------------+
|        100|     Steven|515.123.4567|
|        101|      Neena|515.123.4568|
|        102|        Lex|515.123.4569|
|        103|  Alexander|590.423.4567|
|        104|      Bruce|590.423.4568|
|        105|      David|590.423.4569|
|        106|      Valli|590.423.4560|
|        107|      Diana|590.423.5567|
|        108|      Nancy|515.124.4569|
|        109|     Daniel|515.124.4169|
|        110|       John|515.124.4269|
|        111|     Ismael|515.124.4369|
|        112|Jose Manuel|515.124.4469|
|        113|       Luis|515.124.4567|
|        114|        Den|515.127.4561|
|        115|  Alexander|515.127.4562|
|        116|     Shelli|515.127.4563|
|        117|      Sigal|515.127.4564|
|        118|        Guy|515.127.4565|
|        119|      Karen|515.127.4566|
+-----------+-----------+------------+
only showing top 20 rows

In [27]:
csv_path_1 = r"C:\Users\rknav\Downloads\PySpark\Data\salesdata"

schema = StructType([StructField("Order ID", StringType(), True),
                    StructField("Product", StringType(), True),
                    StructField("Quantity Ordered", StringType(), True),
                    StructField("Price Each", StringType(), True),
                    StructField("Order Date", StringType(), True),
                    StructField("Purchase Address", StringType(), True)])

In [ ]:
csv_df = (spark.read.format("csv").option("header", True).schema(schema).load(csv_path_1))

In [ ]:
csv_df.show()

In [30]:
type(csv_df)

pyspark.sql.dataframe.DataFrame

In [4]:
person_schema = StructType([StructField("id", IntegerType(), True),
                    StructField("first_name", StringType(), True),
                    StructField("last_name", StringType(), True),
                    StructField("fav_movies", ArrayType(StringType()), True),
                    StructField("salary", FloatType(), True),
                    StructField("date_of_birth", DateType(), True),
                    StructField("image_url", StringType(), True),
                    StructField("active", BooleanType(), True),
                    ])

In [5]:
json_path = "./Data/persons.json"

persion_df = spark.read.json(json_path, person_schema, multiLine=True)

In [6]:
persion_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- fav_movies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- salary: float (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- image_url: string (nullable = true)
 |-- active: boolean (nullable = true)

show data with truncate.

In [25]:
persion_df.show(10, truncate=False)

+---+----------+---------+-------------------------------------------------------------+-------+-------------+-----------------------------------------------+------+
|id |first_name|last_name|fav_movies                                                   |salary |date_of_birth|image_url                                      |active|
+---+----------+---------+-------------------------------------------------------------+-------+-------------+-----------------------------------------------+------+
|1  |Drucy     |Poppy    |[I giorni contati]                                           |1463.36|1991-02-16   |http://dummyimage.com/126x166.png/cc0000/ffffff|true  |
|2  |Emelyne   |Blaza    |[Musketeer, The, Topralli]                                   |3006.04|1991-11-02   |http://dummyimage.com/158x106.bmp/cc0000/ffffff|false |
|3  |Max       |Rettie   |[The Forgotten Space, Make It Happen]                        |1422.88|1990-03-03   |http://dummyimage.com/237x140.jpg/ff4444/ffffff|false |
|4  |Ilario    |Kean     |[Up Close and Personal]                                      |3561.36|1987-06-09   |http://dummyimage.com/207x121.jpg/cc0000/ffffff|true  |
|5  |Toddy     |Drexel   |[Walk in the Clouds, A]                                      |4934.87|1992-10-28   |http://dummyimage.com/116x202.png/cc0000/ffffff|true  |
|6  |Oswald    |Petrolli |[Wing and the Thigh, The (L'aile ou la cuisse)]              |1153.23|1986-09-02   |http://dummyimage.com/137x172.jpg/5fa2dd/ffffff|false |
|7  |Adrian    |Clarey   |[Walking Tall, Paradise, Hawaiian Style]                     |1044.73|1971-08-24   |http://dummyimage.com/244x218.bmp/cc0000/ffffff|false |
|8  |Dominica  |Goodnow  |[Hearts Divided]                                             |1147.76|1973-08-27   |http://dummyimage.com/112x203.jpg/dddddd/000000|false |
|9  |Emory     |Slocomb  |[Snake and Crane Arts of Shaolin (She hao ba bu), Mala Noche]|1082.11|1974-06-08   |http://dummyimage.com/138x226.jpg/cc0000/ffffff|true  |
|10 |Jeremias  |Bode     |[Farewell to Arms, A]                                        |3472.63|1997-08-02   |http://dummyimage.com/243x108.bmp/dddddd/000000|true  |
+---+----------+---------+-------------------------------------------------------------+-------+-------------+-----------------------------------------------+------+
only showing top 10 rows

Improting the required functions from sql to perform actions and transfromation.

In [7]:
from pyspark.sql.functions import col, expr, concat_ws, round

In [8]:
persion_df.select(col("first_name"), col("last_name"), col("salary")).show()

+----------+-----------+-------+
|first_name|  last_name| salary|
+----------+-----------+-------+
|     Drucy|      Poppy|1463.36|
|   Emelyne|      Blaza|3006.04|
|       Max|     Rettie|1422.88|
|    Ilario|       Kean|3561.36|
|     Toddy|     Drexel|4934.87|
|    Oswald|   Petrolli|1153.23|
|    Adrian|     Clarey|1044.73|
|  Dominica|    Goodnow|1147.76|
|     Emory|    Slocomb|1082.11|
|  Jeremias|       Bode|3472.63|
|   Timothy|     Ervine|1147.61|
|   Leanora|     Gooder|1327.02|
|  Claiborn|     Denham|2623.33|
|   Ambrosi|   Vidineev|4550.88|
|    Feodor|Nancekivell|2218.46|
|   Margaux|   Archbold|1013.75|
|   Balduin|    Elstone|2302.26|
|     Alfie|   Hatliffe| 3893.1|
|      Lura|     Follis|3331.26|
|      Maxi|      Cluet|4046.46|
+----------+-----------+-------+
only showing top 20 rows

In [37]:
persion_df.select(concat_ws(" ", col("first_name"), col("last_name")).alias("Full Name"), round(expr("salary * 0.10 + salary"), 2).alias("Salary")).show()

+------------------+-------+
|         Full Name| Salary|
+------------------+-------+
|       Drucy Poppy| 1609.7|
|     Emelyne Blaza|3306.64|
|        Max Rettie|1565.17|
|       Ilario Kean| 3917.5|
|      Toddy Drexel|5428.36|
|   Oswald Petrolli|1268.55|
|     Adrian Clarey| 1149.2|
|  Dominica Goodnow|1262.54|
|     Emory Slocomb|1190.32|
|     Jeremias Bode|3819.89|
|    Timothy Ervine|1262.37|
|    Leanora Gooder|1459.72|
|   Claiborn Denham|2885.66|
|  Ambrosi Vidineev|5005.97|
|Feodor Nancekivell|2440.31|
|  Margaux Archbold|1115.13|
|   Balduin Elstone|2532.49|
|    Alfie Hatliffe|4282.41|
|       Lura Follis|3664.39|
|        Maxi Cluet|4451.11|
+------------------+-------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import year, array_contains

In [40]:
persion_df.filter(col("salary") > 3000).show()

+---+----------+-----------+--------------------+-------+-------------+--------------------+------+
| id|first_name|  last_name|          fav_movies| salary|date_of_birth|           image_url|active|
+---+----------+-----------+--------------------+-------+-------------+--------------------+------+
|  2|   Emelyne|      Blaza|[Musketeer, The, ...|3006.04|   1991-11-02|http://dummyimage...| false|
|  4|    Ilario|       Kean|[Up Close and Per...|3561.36|   1987-06-09|http://dummyimage...|  true|
|  5|     Toddy|     Drexel|[Walk in the Clou...|4934.87|   1992-10-28|http://dummyimage...|  true|
| 10|  Jeremias|       Bode|[Farewell to Arms...|3472.63|   1997-08-02|http://dummyimage...|  true|
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|   1989-07-20|http://dummyimage...|  true|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|   1989-06-21|http://dummyimage...|  true|
| 19|      Lura|     Follis|[My Life in Pink ...|3331.26|   1998-11-03|http://dummyimage...| false|
| 20|      Maxi|      Cluet|[All I Want for C...|4046.46|   1979-05-06|http://dummyimage...| false|
| 21|      Dian|      Dancy|[Double, Double, ...| 3720.3|   1998-12-01|http://dummyimage...|  true|
| 22|  Theodore|   Climance|[Story of the Wee...|3008.56|   1999-01-30|http://dummyimage...| false|
| 24|  Camellia|   Jervoise| [Waiting to Exhale]|3431.17|   1996-07-14|http://dummyimage...| false|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|   2000-10-20|http://dummyimage...|  true|
| 27|    Kelila|Harrowsmith|   [Apparition, The]|4651.58|   1973-01-02|http://dummyimage...|  true|
| 29|       Eli|  Normabell|[Return to Peyton...|4917.48|   1993-01-02|http://dummyimage...|  true|
| 35|     Fanni|      Dyson|     [Wild One, The]|3228.58|   1995-01-09|http://dummyimage...|  true|
| 36|     Ozzie|   Brownlie|     [Orange County]|3945.18|   1992-01-25|http://dummyimage...| false|
| 38|    Camile|       Mace|[Family Guy Prese...|3559.93|   1994-12-12|http://dummyimage...| false|
| 39|   Melinda|   McKevitt|[Safrana or Freed...|4166.13|   1979-12-15|http://dummyimage...|  true|
| 42| Cristiano|       Shaw|[Can-Can, Feeding...|3180.08|   1997-04-07|http://dummyimage...|  true|
| 43|   Guthrie|     Veeler|[Mr. Brooks, Seco...|4806.88|   1978-07-31|http://dummyimage...|  true|
+---+----------+-----------+--------------------+-------+-------------+--------------------+------+
only showing top 20 rows

In [60]:
persion_df.where(col("salary") > 3000).show()

+---+----------+-----------+--------------------+-------+-------------+--------------------+------+
| id|first_name|  last_name|          fav_movies| salary|date_of_birth|           image_url|active|
+---+----------+-----------+--------------------+-------+-------------+--------------------+------+
|  2|   Emelyne|      Blaza|[Musketeer, The, ...|3006.04|   1991-11-02|http://dummyimage...| false|
|  4|    Ilario|       Kean|[Up Close and Per...|3561.36|   1987-06-09|http://dummyimage...|  true|
|  5|     Toddy|     Drexel|[Walk in the Clou...|4934.87|   1992-10-28|http://dummyimage...|  true|
| 10|  Jeremias|       Bode|[Farewell to Arms...|3472.63|   1997-08-02|http://dummyimage...|  true|
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|   1989-07-20|http://dummyimage...|  true|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|   1989-06-21|http://dummyimage...|  true|
| 19|      Lura|     Follis|[My Life in Pink ...|3331.26|   1998-11-03|http://dummyimage...| false|
| 20|      Maxi|      Cluet|[All I Want for C...|4046.46|   1979-05-06|http://dummyimage...| false|
| 21|      Dian|      Dancy|[Double, Double, ...| 3720.3|   1998-12-01|http://dummyimage...|  true|
| 22|  Theodore|   Climance|[Story of the Wee...|3008.56|   1999-01-30|http://dummyimage...| false|
| 24|  Camellia|   Jervoise| [Waiting to Exhale]|3431.17|   1996-07-14|http://dummyimage...| false|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|   2000-10-20|http://dummyimage...|  true|
| 27|    Kelila|Harrowsmith|   [Apparition, The]|4651.58|   1973-01-02|http://dummyimage...|  true|
| 29|       Eli|  Normabell|[Return to Peyton...|4917.48|   1993-01-02|http://dummyimage...|  true|
| 35|     Fanni|      Dyson|     [Wild One, The]|3228.58|   1995-01-09|http://dummyimage...|  true|
| 36|     Ozzie|   Brownlie|     [Orange County]|3945.18|   1992-01-25|http://dummyimage...| false|
| 38|    Camile|       Mace|[Family Guy Prese...|3559.93|   1994-12-12|http://dummyimage...| false|
| 39|   Melinda|   McKevitt|[Safrana or Freed...|4166.13|   1979-12-15|http://dummyimage...|  true|
| 42| Cristiano|       Shaw|[Can-Can, Feeding...|3180.08|   1997-04-07|http://dummyimage...|  true|
| 43|   Guthrie|     Veeler|[Mr. Brooks, Seco...|4806.88|   1978-07-31|http://dummyimage...|  true|
+---+----------+-----------+--------------------+-------+-------------+--------------------+------+
only showing top 20 rows

In [50]:
persion_df.filter(persion_df.first_name == "Kelcy").show()

+---+----------+---------+----------------+-------+-------------+--------------------+------+
| id|first_name|last_name|      fav_movies| salary|date_of_birth|           image_url|active|
+---+----------+---------+----------------+-------+-------------+--------------------+------+
| 25|     Kelcy|   Wogdon|[Iron Mask, The]|4512.51|   2000-10-20|http://dummyimage...|  true|
+---+----------+---------+----------------+-------+-------------+--------------------+------+

In [59]:
persion_df.where(array_contains(persion_df.fav_movies, "Musketeer, The")).show()

+---+----------+---------+--------------------+-------+-------------+--------------------+------+
| id|first_name|last_name|          fav_movies| salary|date_of_birth|           image_url|active|
+---+----------+---------+--------------------+-------+-------------+--------------------+------+
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|   1991-11-02|http://dummyimage...| false|
+---+----------+---------+--------------------+-------+-------------+--------------------+------+

In [12]:
persion_df.where((year("date_of_birth") == 2002) | (year("date_of_birth") == 1888)).show()

+---+----------+---------+--------------------+-------+-------------+--------------------+------+
| id|first_name|last_name|          fav_movies| salary|date_of_birth|           image_url|active|
+---+----------+---------+--------------------+-------+-------------+--------------------+------+
| 37|    Carlen|  Sharply|[Dr. Jekyll and M...|2051.85|   2002-06-01|http://dummyimage...|  true|
| 80|   Lorilee|   Petrie|[Gaudi Afternoon,...|4153.15|   2002-07-29|http://dummyimage...| false|
| 92|     Daron|  Briance|[Train on the Bra...|4226.35|   2002-02-22|http://dummyimage...|  true|
|100|    Virgie| Domanski|[Horseman, The, S...|2165.93|   2002-01-05|http://dummyimage...|  true|
+---+----------+---------+--------------------+-------+-------------+--------------------+------+

In [67]:
persion_df.where(year("date_of_birth") == 2002).show()

+---+----------+---------+--------------------+-------+-------------+--------------------+------+
| id|first_name|last_name|          fav_movies| salary|date_of_birth|           image_url|active|
+---+----------+---------+--------------------+-------+-------------+--------------------+------+
| 37|    Carlen|  Sharply|[Dr. Jekyll and M...|2051.85|   2002-06-01|http://dummyimage...|  true|
| 80|   Lorilee|   Petrie|[Gaudi Afternoon,...|4153.15|   2002-07-29|http://dummyimage...| false|
| 92|     Daron|  Briance|[Train on the Bra...|4226.35|   2002-02-22|http://dummyimage...|  true|
|100|    Virgie| Domanski|[Horseman, The, S...|2165.93|   2002-01-05|http://dummyimage...|  true|
+---+----------+---------+--------------------+-------+-------------+--------------------+------+

Count the records.

In [7]:
persion_df.select("active").count()

100

Show distinct and count.

In [11]:
persion_df.select("active").distinct().show()
persion_df.select("active").distinct().count()

+------+
|active|
+------+
|  true|
| false|
+------+

2

In [ ]:
from pyspark.sql.functions import order

Order the records.

In [15]:
persion_df.select(col("first_name"), year(col("date_of_birth")).alias("year"), col("active")).orderBy("year").show()

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|       Sky|1971| false|
|   Feodora|1971|  true|
|    Adrian|1971| false|
|   Timothy|1971| false|
|  Sherline|1972|  true|
|     Toddy|1972|  true|
|    Lucita|1972|  true|
|      Rodi|1972| false|
|  Dominica|1973| false|
|  Wolfgang|1973|  true|
|    Kelila|1973|  true|
|     Emory|1974|  true|
|   Balduin|1974| false|
|    Norean|1974|  true|
|    Janean|1975|  true|
| Franciska|1976| false|
|       Bev|1976|  true|
|     Johny|1977| false|
|    Bennie|1977| false|
|   Guthrie|1978|  true|
+----------+----+------+
only showing top 20 rows

Drop duplicate records and order.

In [26]:
dropped_rec = persion_df.select(col("first_name"), year(col("date_of_birth")).alias("year"), col("active")).drop_duplicates(["year", "active"]).orderBy("year")

In [29]:
dropped_rec.orderBy("year", ascending=False).show()

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|   Lorilee|2002| false|
|    Carlen|2002|  true|
|    Maxine|2001| false|
|    Feodor|2000| false|
|     Kelcy|2000|  true|
| Kendricks|1999|  true|
|  Theodore|1999| false|
|      Dian|1998|  true|
|      Lura|1998| false|
|    Kayley|1997| false|
|  Jeremias|1997|  true|
|  Claiborn|1996| false|
|    Giffie|1995| false|
|     Fanni|1995|  true|
|   Frankie|1994| false|
|       Eli|1993|  true|
|     Toddy|1992|  true|
|     Ozzie|1992| false|
|   Emelyne|1991| false|
|     Drucy|1991|  true|
+----------+----+------+
only showing top 20 rows

Sorting.

In [59]:
persion_df.sort("first_name", ascending=False).show()

+---+----------+----------+--------------------+-------+-------------+--------------------+------+
| id|first_name| last_name|          fav_movies| salary|date_of_birth|           image_url|active|
+---+----------+----------+--------------------+-------+-------------+--------------------+------+
| 59|      Wynn|     Sayre|[Misrables in Co...|2689.51|   1997-06-30|http://dummyimage...| false|
| 44|  Wolfgang|     Inger|     [No Such Thing]|3192.85|   1973-11-16|http://dummyimage...|  true|
| 62|    Wilden|    Mayger|[Rock, Paper, Sci...|3372.25|   1998-12-27|http://dummyimage...| false|
| 86|    Welbie|   Crackel|[All That Heaven ...|2720.28|   1990-10-24|http://dummyimage...|  true|
|100|    Virgie|  Domanski|[Horseman, The, S...|2165.93|   2002-01-05|http://dummyimage...|  true|
| 76|     Trace|     Balke|[Dark Truth, A (T...|4812.73|   1982-01-03|http://dummyimage...|  true|
|  5|     Toddy|    Drexel|[Walk in the Clou...|4934.87|   1992-10-28|http://dummyimage...|  true|
| 63|     Toddy|Matevosian| [Snake Eyes, Jauja]|4394.08|   1972-03-17|http://dummyimage...|  true|
| 89|      Tish|    Machon|  [Arrowhead, Simon]|4830.06|   1995-06-08|http://dummyimage...|  true|
| 11|   Timothy|    Ervine|[Land of the Lost...|1147.61|   1971-06-02|http://dummyimage...| false|
| 52|  Thorvald|    Finnan|[Star Maker, The ...|2194.92|   1984-09-16|http://dummyimage...| false|
| 22|  Theodore|  Climance|[Story of the Wee...|3008.56|   1999-01-30|http://dummyimage...| false|
| 91|   Stanley| Sargeaunt|[Blow Out, Ashes,...|2958.64|   1986-09-12|http://dummyimage...| false|
| 41|       Sky|     Hails|[Trotsky, The, Su...|1633.95|   1971-02-19|http://dummyimage...| false|
| 33|  Sherline|   Primett|   [Jungle Fighters]|2309.39|   1972-07-23|http://dummyimage...|  true|
| 61|    Shanna|   Samples|[Thomas in Love (...| 2703.0|   1989-07-07|http://dummyimage...| false|
| 66|      Rudy|   Ritelli|[Pope's Toilet, T...|4268.39|   1998-09-01|http://dummyimage...|  true|
| 99|   Rozalie|    Wannop|[Suddenly, The No...|1259.64|   1997-03-25|http://dummyimage...| false|
| 97|      Rodi|    Farnan|[Code, The (Menta...|2325.88|   1972-01-04|http://dummyimage...| false|
| 84|     Ricca|  Newgrosh|[Documentarian, D...|3412.06|   1984-07-27|http://dummyimage...| false|
+---+----------+----------+--------------------+-------+-------------+--------------------+------+
only showing top 20 rows

In [37]:
from pyspark.sql import Row

In [38]:
Person=Row("name","lang","state")
data = [Person("James,,Smith",["Java","Scala","C++"],"CA"), 
    Person("Michael,Rose,",["Spark","Java","C++"],"NJ"),
    Person("Robert,,Williams",["CSharp","VB"],"NV")]

In [41]:
per_df = spark.createDataFrame(data)

In [42]:
per_df.show()

+----------------+------------------+-----+
|            name|              lang|state|
+----------------+------------------+-----+
|    James,,Smith|[Java, Scala, C++]|   CA|
|   Michael,Rose,|[Spark, Java, C++]|   NJ|
|Robert,,Williams|      [CSharp, VB]|   NV|
+----------------+------------------+-----+

In [43]:
persons_df = persion_df

Adding the columns.

In [53]:
persons_df_1 = persons_df.withColumn("salary_inc", round(expr("salary * 1.10"),2))

Rename the column.

In [54]:
persons_df_1.withColumnRenamed("salary_inc", "salary_increment")

DataFrame[id: int, first_name: string, last_name: string, fav_movies: array<string>, salary: float, date_of_birth: date, image_url: string, active: boolean, salary_increment: double]

In [56]:
persons_df_1.show()

+---+----------+-----------+--------------------+-------+-------------+--------------------+------+----------+
| id|first_name|  last_name|          fav_movies| salary|date_of_birth|           image_url|active|salary_inc|
+---+----------+-----------+--------------------+-------+-------------+--------------------+------+----------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|   1991-02-16|http://dummyimage...|  true|    1609.7|
|  2|   Emelyne|      Blaza|[Musketeer, The, ...|3006.04|   1991-11-02|http://dummyimage...| false|   3306.64|
|  3|       Max|     Rettie|[The Forgotten Sp...|1422.88|   1990-03-03|http://dummyimage...| false|   1565.17|
|  4|    Ilario|       Kean|[Up Close and Per...|3561.36|   1987-06-09|http://dummyimage...|  true|    3917.5|
|  5|     Toddy|     Drexel|[Walk in the Clou...|4934.87|   1992-10-28|http://dummyimage...|  true|   5428.36|
|  6|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|   1986-09-02|http://dummyimage...| false|   1268.55|
|  7|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|   1971-08-24|http://dummyimage...| false|    1149.2|
|  8|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|   1973-08-27|http://dummyimage...| false|   1262.54|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|   1974-06-08|http://dummyimage...|  true|   1190.32|
| 10|  Jeremias|       Bode|[Farewell to Arms...|3472.63|   1997-08-02|http://dummyimage...|  true|   3819.89|
| 11|   Timothy|     Ervine|[Land of the Lost...|1147.61|   1971-06-02|http://dummyimage...| false|   1262.37|
| 12|   Leanora|     Gooder|[It's All About L...|1327.02|   1981-12-17|http://dummyimage...| false|   1459.72|
| 13|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|   1996-03-07|http://dummyimage...| false|   2885.66|
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|   1989-07-20|http://dummyimage...|  true|   5005.97|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|   2000-10-07|http://dummyimage...| false|   2440.31|
| 16|   Margaux|   Archbold|[And Now a Word f...|1013.75|   1988-07-29|http://dummyimage...|  true|   1115.13|
| 17|   Balduin|    Elstone|      [Sisters, The]|2302.26|   1974-07-20|http://dummyimage...| false|   2532.49|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|   1989-06-21|http://dummyimage...|  true|   4282.41|
| 19|      Lura|     Follis|[My Life in Pink ...|3331.26|   1998-11-03|http://dummyimage...| false|   3664.39|
| 20|      Maxi|      Cluet|[All I Want for C...|4046.46|   1979-05-06|http://dummyimage...| false|   4451.11|
+---+----------+-----------+--------------------+-------+-------------+--------------------+------+----------+
only showing top 20 rows

In [ ]:
path_pq = r"C:\Users\rknav\Downloads\PySpark\Data\Generated"
persons_df_1.write.mode("overwrite").parquet(path_pq)

In [4]:
path_fs = r"C:\Users\rknav\Downloads\PySpark\Data\flight-summary.csv"

fs_df = spark.read.csv(path_fs, header=True, inferSchema=True)

In [12]:
fs_df.columns

['origin_code',
 'origin_airport',
 'origin_city',
 'origin_state',
 'dest_code',
 'dest_airport',
 'dest_city',
 'dest_state',
 'count']

In [5]:
from pyspark.sql.functions import collect_list, col

In [8]:
fs_df.groupBy("origin_city").agg(collect_list(col("dest_state"))).show(10,False)

+-----------+--------------------------------------------------------------------------------------------+
|origin_city|collect_list(dest_state)                                                                    |
+-----------+--------------------------------------------------------------------------------------------+
|Aberdeen   |[MN]                                                                                        |
|Abilene    |[TX]                                                                                        |
|Adak       |[AK]                                                                                        |
|Agana      |[HI]                                                                                        |
|Aguadilla  |[NJ, NY, FL, FL]                                                                            |
|Akron      |[NY, NV, FL, MA, FL, CO, MI, NJ, VA, IL, FL, GA]                                            |
|Albany     |[GA, NJ, MN, NC, FL, FL, VA, MI, CO, FL, IL, NV, FL, IL, MD, GA]                            |
|Albuquerque|[IL, FL, TX, TX, TX, UT, CA, CO, CA, MD, MN, NY, MO, OR, WA, NV, NC, CA, IL, AZ, CA, GA, TX]|
|Alexandria |[TX, GA, TX]                                                                                |
|Allentown  |[GA, IL, MI]                                                                                |
+-----------+--------------------------------------------------------------------------------------------+
only showing top 10 rows

In [2]:
sc.stop()

NameError: name 'sc' is not defined